body {
  background-color: black
}

#header-top {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center
}

#link-site {
  color: aquamarine;
  font-size: 16px;
}

#sub-header-top {
  text-align: center
}

#video-phone {
  width: auto;
  height: auto;
  border-radius: 50px;
  position: relative;
  left: 38%
}

#header-middle {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
  text-align: center
}

#sub-header-middle {
  font-family: verdana;
  color: grey;
  font-size: 21px;
  text-align: center
}

#picture-1-middle {
  position: relative;
  left: 25%
}
#picture-2-middle {
  position: relative;
  left: 48%
}

#header-bottom {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
  text-align: center
}

