body {
  background-color: black
}

#header-top-h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center
}

#link-site {
  color: aquamarine;
  font-size: 16px;
}

#header-top-link {
  text-align: center
}

